.mycontainer {
	height: 300;
	background-color: #E9F4FC;
}

.post {
	border: 1px solid #C6C6C6;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 0;
	padding: 10px;
}
.comments {
	
	border: 1px solid #C6C6C6;
	border-radius: 0px 0px 5px 5px;
	background-color: #E9F4FC;
	padding: 10px;

}

a {
	text-decoration: : none;
}

a:hover {
	text-decoration: uderline;
}

hr { 
	margin: 4px;
	border: 0; 
	height: 0; 
	border-top: 1px 
	solid rgba(0, 0, 0, 0.1); 
	border-bottom: 1px 
	solid rgba(255, 255, 255, 0.3); 
}

img {
	width: 50px;
	height: 50px;
	margin: 5px;
}

.commlike {
	margin-left: 65px;
}